[2014-01-27 02:11] walmik opened #1 "Add a mode for digital time display"
Add a digital mode for displaying time, like this
1. 00:34
2. 00:09:23
3. 01:01:50:30

[2014-02-17 18:26] walmik opened #2 "23:59:59 should step to 1:00:00:00"
Currently the timer goes to the 25th hour after 24 hours. It should ideally move to the next day.

[2014-02-18 04:19] #2 closed, assigned to nobody

[2014-07-21 16:47] nrutjes opened #3 "Add way to destroy instance of timer"
Example
<div. id="timer1"></div>
$('#timer1').timer('destroy');

[2014-07-21 18:50] #3 closed, assigned to walmik

[2014-08-18 13:30] ezuhaib opened #4 "How to get elapsed time in seconds?"
I couldn't figure it out from the documentation or source.

[2014-08-18 14:52] #4 closed, assigned to nobody

[2014-11-01 15:27] walmik opened #6 "Inconsistent increments"
Being single threaded, JavaScript can execute one piece of code at a time. This is blocking in nature which also affects the timer event. 1000ms is not always 1000ms as other things are happening in the browser. This affects the timer value and renders it inconsistent.

Implement a method that fixes this inconsistency.

[2014-11-09 21:19] #6 closed, assigned to nobody

[2014-11-26 07:12] vetrivelbright opened #14 "how to set initial timer value"
hi , i want to set initial value manually instead of 0th sec for timer..
can you help me how to set manual value in timer function

[2014-11-26 09:34] #14 closed, assigned to nobody

[2014-12-08 17:38] walmik opened #15 "Add support for days (time beyond 24 hours)"
Currently time beyond 24 hours is display as 25:10:30. It should be displayed as
1 days 1:10:30 or simply 1:01:10:30

[2014-12-16 11:03] ltdeta opened #16 "Add reset function and synchronously callback"
a timer called periodically should be reset after callback function called
Intervall set to 30sec -> Start: 1  End: 30 -> callback -> Start: 1 End: 30 ...

If callback function fired, the timer starts again asynchronously but i need a synchronously callback (for example for a ajax call)

[2014-12-27 15:23] #16 closed, assigned to nobody

[2015-01-04 17:16] ltdeta opened #24 "timer update intervall"
At the moment the timer will updated each second.
adding a new option for a refresh frequence like 5sec 10sec etc.

[2015-01-28 19:05] mahousenshi opened #25 "Regressive Timer"
Hello!

It's will be great if this plugin can suport a regresive counter.

Thank for this simple plugin.

[2015-01-28 19:07] mahousenshi opened #26 "Paused Status"
Hello!

It's will be great if the timer can send a "paused" status.

Thanks!

[2015-01-28 19:15] walmik commented on #26
Hello there, the timer does have a 'pause' state. You can trigger that on a running timer by doing

`$('#timerDiv').timer('pause');`

You can demo this functionality here: http://jquerytimer.com/

[2015-01-28 21:54] walmik commented on #25
Thanks for your comments and suggestions. Can you please tell me how do you mean when you say regressive counter? Do you mean like a regular digital display as opposed to pretty display?

[2015-01-29 08:45] andysowards opened #27 "Multiple Timers"
Nice plugin! I'm trying to wrap my head around it - I'm using it in a project but whenever I add multiple timers to a page, they WORK, however, only one works at a time - and its like the plugin can't keep track of more than one timer at a time

any way to make it work with multiple instances? It looks like its setup to in the plugin code its just not working and can't figure out why!

Thanks for

[2015-01-29 09:13] andysowards commented on #27
I've made some tweaks, if I put all of the functions inside of this block

// INITIALIZE THE PLUGIN
	var pluginName = 'timer';
	$.fn[pluginName] = function(options) {
		options = options || 'start';

		return this.each(function() {

then it begins to work just fine on multiple instances, keeps track of the time, however, when I go to pause, it bugs out - it almost looks like it starts 2 timers on

[2015-01-29 17:45] walmik commented on #27
Thanks for your kind comments :)

The reason I did not add support for multiple timers is because of the fact that timers are a browser feature (not a JavaScript feature). In fact John Resig's article on the subject is what prompted me to think in this direction. If you re doing anything non trivial with timers, I d say, you take a look at it:

http://ejohn.org/blog/how-javascript-timers-work/

[2015-01-29 17:48] walmik commented on #25
Possibly a dupe of https://github.com/walmik/timer.jquery/issues/1

[2015-01-29 19:41] andysowards commented on #27
Awesome, I will check this out thanks for the link

I just need multiple timers to work as they do so that people can use them to time things and submit the time data via a form, which this will work perfect for if I can get it working correctly, i'll let you know if I figure anything out - do you know of any timers that allow multiple instances on a page?

Thanks for your time!

[2015-02-10 07:44] akhilsikri opened #28 "Callback issue when seconds parameter is also passed along with duration parameter"
hi

I found an issue with the callback if we resume the timer from a preset value.

[code]
I was able to fix the issue by updating the duration with the increment of initial seconds.
[code]

I thought it might be helpful if someone else has similar requirement.

[2015-02-10 13:51] walmik commented on #28
Thanks for catching this! I have added a fix for this in a slightly different way (adhering to existing code) and committed it. Please feel free to submit a PR next time :)

[2015-02-10 19:56] mahousenshi commented on #25
Like a countdown clock.

[2015-02-10 20:02] mahousenshi commented on #26
I'm doing a chronometer using no buttons using a click in the timer to start/pause it but i didn't know if there's a timer object where or it's just paused timer i have to use a dummy class to know this.

[2015-02-10 20:08] walmik commented on #25
Re-opening this issue

[2015-02-10 20:13] walmik commented on #26
Do you mean something like a 'state' method, which will return if the timer is running, stopped or paused?

[2015-02-11 18:30] mahousenshi commented on #26
Yes.

[2015-02-12 09:39] yeruizhi commented on #1
This functionality is very helpful. Has it been done? Thanks.

[2015-02-12 11:11] yeruizhi commented on #1
I read your code and find that function.  I add another formatting function that output time in fixed "hh:mm:ss" format, like "00:00:01" .

[2015-02-13 03:48] walmik commented on #1
This functionality has not been implemented as yet. Please do feel free to submit a PR in case you do implement it :)

[2015-03-03 22:14] Allmythings1066 opened #29 "Customise display so you can show the clock in format hh:mm:ss (or just mm:ss)"
Can someone help please - I would like to customise the display so the hh:mm:ss (or just mm:ss) are always displayed ie 00:00. I would also like to hide the sec or min text that is appended to the clock display
Any help would be really appreciated

[2015-03-03 22:32] walmik commented on #29
This is a dupe of issue #1 and is under consideration.

Having said that, here s a quick implementation you can try. In the plugin JS itself, add a function right after the function `secondsToTime` like this:

[code]

And in the function `render()` (currently on line 71) change the following line
`$el[display](secondsToTime(totalSeconds));`

to

`$el[display](secondsToHhMmSs(totalSeconds));`

Lemm

[2015-03-04 13:21] Allmythings1066 commented on #29
Thanks walmik - I'll give it a go and get back to you.  Can you recommend a tool for generated the minified code?

[2015-03-04 18:54] Allmythings1066 commented on #29
Hi Walmik, your code worked like a treat! Thanks very much :+1:

[2015-03-04 18:54] #29 closed

[2015-03-05 16:59] walmik commented on #29
You are very welcome :)

[2015-03-11 17:52] ryanv09 commented on #25
I have a simple solution for this until a better one is pushed.

In the render function, replace:

`$el[display](secondsToTime(totalSeconds));`

with:

<pre>
`if (options.countdown && duration > 0)
{
	$el[display](secondsToTime(duration - totalSeconds));
}
else
{
	$el[display](secondsToTime(totalSeconds));
}`
</pre>

and then call it like this:

`$("selector").timer({duration:60, countdown:true});

[2015-03-11 18:01] walmik commented on #25
That s a good idea. Please feel free to submit a PR if it works and passes currently written tests. If possible add a test for it too.

[2015-03-14 22:32] #25 closed

[2015-03-31 21:06] shantanuthatte opened #36 "Display format"
It would be great if we can define the format of the displayed text.

[2015-04-01 01:44] walmik commented on #36
Do you mean have the option to show a digital timer as well? For eg `00:15:30` instead of `15min 30sec` ?

[2015-04-01 05:23] shantanuthatte commented on #36
Example:

[code]

The ability to define the format the user wants to show. So for a digital one it could be:
[code]
Or for leading zeros:
[code]

[2015-04-01 05:33] shantanuthatte commented on #27
How about if we use WebWorkers, if not then fallback to updating every timer element's data-seconds?

[2015-04-01 13:47] walmik commented on #36
This is an excellent idea. Marking it as an enhancement.

[2015-04-01 13:50] walmik commented on #27
I ve been toying around with the idea of web workers for this but never got around to doing it due to time constraints. PRs (and ideas) are most welcome :)

[2015-04-01 13:56] walmik commented on #1
Closing this issue in favor of issue #36

[2015-04-01 13:56] #1 closed

[2015-04-09 05:54] shantanuthatte commented on #36
MR at #37

[2015-04-10 04:14] shantanuthatte commented on #36
Implemented with 6d4959fad4a5ea845d8915502f0db32d04fedba3

[2015-04-10 04:14] #36 closed

[2015-04-10 04:23] shantanuthatte commented on #28
I am not able to recreate the issue.

Problem would be if seconds > duration, then the callback is never called

[2015-04-10 05:08] shantanuthatte commented on #26
How about using `$el.data('state', state)` in `start()`, `stop()`, etc ... ??

[2015-04-10 05:09] shantanuthatte commented on #24
Wouldn't this be a simple fix by updating `startTimerInterval()` ??

[2015-04-11 17:15] walmik commented on #26
That s a good idea!

[2015-04-11 17:16] walmik commented on #24
It most certainly is.

[2015-04-25 13:04] walmik commented on #26
Added this functionality in 1ce2d6a61f9b77afeeac982e9a9d318fdfa81042

[2015-04-25 13:04] #26 closed

[2015-04-25 14:01] #28 closed

[2015-04-27 20:12] elaman opened #40 "Unexpected behavior on timer focus/blur"
Plugin does not recognize intentional and unintentional focus and blur events.

For example.
1. I pressed "Start" button.
2. I pressed "Stop" button.
3. Focus on timer input field and change value.
4. Switch focus away from timer input field.
5. Timer will unexpectedly start. It shouldn't since we stopped it in step 2.

[2015-04-27 22:08] walmik commented on #40
Hi there, the start and stop buttons are not a part of the plugin. They are added only for the demo.

If you set editable: true while initializing the timer on to an element, then the input field will have the events bound to focus and blur.

Having said that I ll leave this issue open and fix the 'demo' (the plugin does not need any change for this)

Please do let me know if this has addressed yo

[2015-04-27 22:28] elaman commented on #40
While Start and Stop buttons are not part of the plugin, focus and blur events are hardcoded into the plugin.

This causes an issue, when you can't get clear control over the state of the timer. If I want user to be able to edit timer value, anytime user focused/blurs timer input it will fire timer resume/pause event.

[2015-04-28 01:10] walmik commented on #40
To summarize, the user should be able to pause/resume the timer for editing the time but not necessarily on blur/focus events. If that s what you mean, then this is a good thought. I ll mark this issue as a feature.

Needless to say, you re free to suggest ways to implement this behavior or even submit a PR for the same. If it complies with the existing code without breaking any tests, I can accep

[2015-06-17 01:23] walmik commented on #24
Added this improvement in 0.4.1.

[2015-06-17 01:23] #24 closed

[2015-06-17 01:33] walmik commented on #40
On further thought I realize, we can leave the editable property as is so that people can use it out of the box. If you dont want this `auto` pause and start to happen then here s what you can do:

1. Initialize the timer on a text `input` field. Do not initialize the plugin with `editable` set to true.
2. Create an event handler to pause the timer (either on clicking a button or focussing the `in

[2015-07-02 10:50] fmsolbakken opened #42 "Counting down"
Very nice plugin!
Could we also have a counting down option?
Need to start at 60s and counting down to 0.

[2015-07-02 21:04] walmik commented on #42
Hi there, Thanks for your comments!

There is a countdown option. All you have to do is specify the `duration` and the `countdown` option as follows:
[code]

[2015-07-03 04:36] #42 closed

[2015-07-03 04:37] #40 closed

[2015-07-10 00:17] benrellick opened #43 "Pausing, editing the time, and resuming could update the duration to reflect new time"
Hi! I'm having a lot of fun working with this, and it's doing 99% of what I need to do, so thanks for making such a solid plugin! One thing I noticed is that callbacks don't work as I expected them to when the time is edited. For example, if the timer's at 8 seconds and I have a 1s duration, but then I pause it and set the time to 6 seconds, the callback doesn't execute until we hit 9 seconds, ins

[2015-07-10 14:07] walmik commented on #43
Hello Ben,

Thank you very much for your kind words of appreciation and for raising this issue! I will look into it and apply a fix accordingly.

[2015-08-04 08:23] walmik commented on #43
This issue is fixed in v0.4.3. Thanks for pointing it out @benrellick Lemme know if it works as expected. Here is the change that is implemented in this fix:

If a user sets a duration of 5 seconds (such that some functionality every 5 seconds), then the timer will always call the functionality (defined in callback) in multiples of 5 regardless of where the timer was started from. So if the timer

[2015-08-04 08:23] #43 closed

[2015-08-12 11:35] spedroq commented on #27
Hey guys, great plugin! I would like to let you know that I'm having issues with multiple timer instances, even though I give them unique ID's they still affect each other. (on a separate note: your seconds are not exactly accurate)

In any case let me know if there is a way to have multiple timers, or if it is a feature you guys havent implemented or are yet to fix.

Thanks for your time,
Pedro Q

[2015-08-12 17:45] walmik commented on #27
At the moment, it s a single timer implementation and we definitely want to support multiple timers. This task is open for current contributors or new. If no one picks it up, being the lead maintainer, I ll start this soon.

About the inaccurate seconds, please create a separate issue with steps to reproduce it or any info that can help in identifying the issue.

Above all, Thanks for your comment

[2015-08-13 09:31] spedroq opened #45 "Seconds count slightly innacurate"
To replicate it, is a matter of letting it run for about 5minutes and you will notice that it will be off by about 15 to 20 seconds. (it will count faster than usual timers)

Thanks for your time and hard work.

Cheers

[2015-08-13 16:45] walmik commented on #45
Hi @spedroq

Thank you for your time and concern regarding the jQuery timer plugin.

I ran the jQuery timer and I used the Mac OS timer to compare the both. I left it running and took screenshots along the way at durations of 10 seconds, 6 minutes, 11 minutes, 20 minutes and 30 minutes. Here are the screenshots:

*10 sec:*

<img width="131" alt="10sec" src="https://cloud.githubusercontent.com/asse

[2015-08-14 10:00] spedroq commented on #45
Maybe it was the other timer I used that was off... hahah

It was compared vs X-Lite and Eyebeam, since I was using it to track the duration of calls.

If the timer is correct than I could have been wrong. Since I noticed that difference I though I would bring it up.

Thanks for your time and hard work.
Cheers,
Pedro Q

[2015-08-16 05:00] walmik commented on #45
No worries, it never hurts to confirm our doubts :) Thanks for your time.

[2015-08-16 05:00] #45 closed

[2015-10-09 11:51] mfsi-subhranil commented on #27
Any update on multiple timers on same page? I need multiple timers in a page.

[2015-10-09 19:13] walmik commented on #27
Thanks for your concern and desire to use this plugin in your page. Unfortunately I do not have the bandwidth to implement it. Though I m open to PRs that will add this implementation.

[2015-10-15 18:25] slimeybee commented on #27
Multiple timers would be amazing. I was using this plugin and got pretty far into development when I was asked to run timers concurrently, but unfortunately after reading this I find out it's not possible, which is too bad because the ease of use with this plugin is nice. Any recommendations for jquery timers that can run multiple or any advice on how to tweak the code to allow this happen or anyt

[2015-10-16 22:07] walmik commented on #27
I agree. It d be great to have multiple timers.

One way to implement (from a bird's eye view), currently the plugin treats all timer related variables singularly. It takes the current timestamp and every 500ms just calculates the offset from current timestamp. In other words, it does not increment a number by 1 in a `setInteval` (which is why it s so accurate). Hence, how bout maintaining the tim

[2015-10-27 11:10] JimNik opened #46 "Milliseconds"
Very nice plugin!!! You have done a great job!!!

Is there any way to display a format with milliseconds?

Thank you for your time

[2015-10-28 15:10] walmik commented on #46
Thank you for you kind words!

Currently the timer subtracts the current timestamp from the timestamp from when the timer was started. It does this every 500ms to get the accurate number of `seconds` elapsed. To get the milliseconds we will have to do it at every millisecond! I m not so sure if this would be the right approach. But I m marking this suggestion as an `enhancement` in case someone wa

[2015-11-29 12:02] moshahmed opened #47 "Multiple timers don't work on same page?"
$('#clockdiv').timer({ format: '%h:%m:%s' });
  $('#clockdiv2').timer({ format: '%h:%m:%s' });

[2015-11-30 21:35] walmik commented on #47
This is a dupe of https://github.com/walmik/timer.jquery/issues/27
Lets continue to track it from there.

[2015-11-30 21:35] #47 closed

[2016-01-05 17:33] rlmumford commented on #27
I actually have this working with multiple timers.

[2016-01-05 20:14] walmik commented on #27
This looks great and thank you for putting thought and time to implement this much desired functionality! This is certainly the way forward. I m gonna play around with it a bit with multiple timers in a page. In the mean time, would you mind creating a PR for this change?

[2016-01-08 16:24] walmik commented on #27
Extremely happy to close this long standing issue! Thanks to the excellent work by @rlmumford !

[2016-01-08 16:24] #27 closed

[2016-01-08 20:40] IanCaz opened #49 "Add Countdown"
I'm loving this plug-in and it would completely satisfy my needs if it supported counting down from a preset time.  Is this currently possible?  If not, it would make a great enhancement.

[2016-01-08 20:52] IanCaz commented on #49
Okay, evidently this IS possible, by using the duration & setting the undocumented option "countdown" to true.

[2016-01-08 20:52] #49 closed

[2016-01-08 22:45] walmik commented on #49
Thank you for your observation that `countdown` is undocumented! I will add it in my upcoming overhaul for the demo page of this plugin :)

[2016-01-08 22:46] walmik commented on #49
@IanCaz Thank you  for your observation that `countdown` is undocumented! I will add it in my upcoming overhaul for the demo page of this plugin :)

[2016-01-11 20:55] IanCaz opened #50 "Options being duplicated between different instances of timer"
There appears to be an issue when creating multiple timers, where the "options" from the last instantiated timer, override the values for the previous timers.  The most obvious example of this can be seen in the callback or format.  In the example below, I have two divs, with the id's of timerTest1 & timerTest2.

[code]

From digging through the source, it appears that in the "TIMER PROTOTYPE" sec

[2016-01-12 15:41] IanCaz commented on #50
Okay, I think I've found the culprit.  I changed the $.extend line in the prototype & modified the secondsToTime to take a timer object as well.  These two changes seem to have "fixed" the issue.
[timer.jquery.js.txt](https://github.com/walmik/timer.jquery/files/87528/timer.jquery.js.txt)

[2016-01-12 19:14] walmik commented on #50
Hey @IanCaz Thanks for identifying an issue and finding the fix for the same. Can you please submit a PR for this?

[2016-01-12 20:55] IanCaz commented on #50
Alright, I think I finally got it done.  My first time working with Git, so let me know if I need to do something differently.

[2016-01-12 22:55] walmik commented on #50
@IanCaz Thank you once again. I ve merged this in, made some minor changes to resolve jscs issues and bumped the version.

[2016-01-12 22:55] #50 closed

[2016-01-12 22:56] walmik opened #52 "Re-enable tests"
Recently we disabled tests in order to provide a major update while still retaining backward compatibility. This required us to temporarily mute the tests. Need to re-enable them again and fix as required.

[2016-01-16 17:21] ltdeta opened #53 "Changelog"
Wehre i can find the history of timer.jquery

[2016-01-16 18:58] walmik commented on #53
Unfortunately, there s no history per say maintained in a markdown file or elsewhere. For now, you can go through `git` history.

[2016-01-17 19:08] ltdeta commented on #53
Thanks

[2016-03-08 07:49] almasn86 opened #54 "CountDown timer"
is there any possibility to make countdown of timer?

[2016-03-08 07:52] shacow commented on #54
You can use the Timed Events

Start a timer and execute a function after a certain duration. You can use this to simulate a timed event.

//start a timer & execute a function in 5 minutes & 30 seconds
$('#div-id').timer({
    duration: '5m30s',
    callback: function() {
        alert('Time up!');
    }
});

[2016-03-09 07:32] walmik commented on #54
Thanks @shacow :)

Hi @almasn86 in case you had meant like a reverse timer, then the following will start a timer in a div with id timer and it countdown from 5 minutes and go on to 0 seconds:

[code]

You can change the `5m` to `5s` to start at 5 seconds instead of 5 minutes. Either ways, once the timer reaches 0 seconds, it will show an alert box by default. You can override this by passing a cu

[2016-03-27 21:02] wgpalexander opened #55 "Duration & Callback not functioning"
Edit - sorry please ignore, problem solved.

Great plugin by the way :)

[2016-03-28 12:49] walmik commented on #55
Cool & thanks for using it :)

[2016-03-28 12:49] #55 closed

[2016-03-29 13:46] sinanerdem opened #56 "A simple example"
Hello and thank you for this utility.

I am trying to test it. I created a jsfiddle for this:
https://jsfiddle.net/t30Lugfn/
That is really simple, yet I couldnt make it work. Can you comment?

Cheers

[2016-03-29 14:01] sinanerdem commented on #56
I think it is about loading external content from this address:
https://raw.githubusercontent.com/walmik/timer.jquery/master/src/timer.jquery.js

When I used my own repository, it worked.

[2016-03-29 14:01] #56 closed

[2016-03-29 15:20] sinanerdem opened #57 "Minutes and seconds only"
Is it possible to display a format like: 75:15 ?

I tried %M:%S, but instead of 75:15, it only displays 15:15

[2016-03-29 20:47] walmik commented on #57
Thanks for using the plugin and creating an issue toward it's improvement.

Currently we do not have a method that allows showing 60+ minutes the way you specified. Same applies to seconds as well. But I like this idea! I m open to PRs that implements this as a feature and has test cases to support it.

[2016-03-31 15:24] walmik commented on #56
Glad it worked it out :)

[2016-04-29 18:52] uareke opened #58 "Get seconds into other variable"
How do I get the second ? I need to show an alert to the User when missing 10 seconds.

[2016-05-01 14:19] wgpalexander opened #59 "Execute callback when timer is set to zero"
Hi guys,

Great script here - very useful. I'm having a slight issue with it - allow me to explain.

I have a series of timed events each on triggered after another (think about a triathlon style thing where you have a run, a cycle and a swim so each one is timed in sequence).

I have structured this by having a series of timers 'nested' within the callbacks.

My issue is that some users may want

[2016-05-02 02:18] walmik commented on #59
HI Wayne!

Thanks for using this plugin! About your query, in case the duration is 0, can you not directly call the callback function? So something like,

[code]

Lemme know if that can work in your specific use case. If not, we can go into it further :)

[2016-05-02 11:53] renat2985 opened #60 "Bower"
Add please Bower.

[2016-05-02 17:09] walmik commented on #60
Great suggestion! Will do :)

[2016-05-02 21:25] wgpalexander commented on #59
Hi Walmik, firstly thanks for the prompt response. As you can probably tell I'm learning Javascript so thanks for your patience! Your example of simply returning the callback works - not sure why I didn't think of that.

For info the default "Time Up!" alert for countdowns is a touch invasive - maybe in future it could be a property option like duration, callback etc.? As it stands I just commente

[2016-05-03 00:38] walmik commented on #59
You re very welcome Wayne :)
About the alert being used as a sample callback, I agree with you. I guess I just wanted to visually demonstrate how the callback can be used. I reckon anybody wanting to use that feature will have their own custom function to overwrite it with anyway.

[2016-05-09 13:41] rsxdalv commented on #46
What about not going the whole way, but instead stopping at, say 1/10ths or 1/100ths, as those are usually enough even for real time applications? Not having any decimal places reduces the responsiveness feeling.

[2016-05-12 14:48] AlexAraujoBr opened #62 "Timer problem Reset"
I need a help , when applying reset the timer displays error , showing a strange time .

![timer](https://cloud.githubusercontent.com/assets/19329223/15218663/506e2dc8-1837-11e6-949a-4afd66108054.jpg)

[2016-05-12 16:29] walmik commented on #62
Thank you for using the plugin and filing this issue. This contributes to the overall improvement of this plugin :) Can you please provide the exact steps to reproduce the issue? Also can you keep your console open while performing the steps and share the console contents in case you see some error in there as well?

[2016-05-12 17:08] AlexAraujoBr commented on #62
Example:

`<!DOCTYPE html>
<html>
    <head>
        <title>Reset Timer</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="JS/jquery-1.12.0.js" type="text/javascript"></script>
        <script src="JS/timerjquery.js" type="text/javascript"></script>
    <script type="text/javascript">
       $(function (e) {

[2016-05-12 17:28] AlexAraujoBr commented on #62
I got doing a "workaround". I´m just modify "resetTimer" function.

		var element = timer.element;
                stopTimerInterval(timer);
		timer.options.removeTimer.bind(timer).call();
		$(element).data('plugin_' + pluginName, 0);
		$(element).data('seconds', 0);
		$(element).data('state', 0);
                startTimerInterval(timer);
                //stopTimerInterval(timer);
		//$(element)

[2016-05-13 20:38] walmik commented on #62
Thanks for fixing it, this looks good! Can you please submit a PR for this?

[2016-05-13 20:42] walmik commented on #57
Fixed by @randomAccessMe in https://github.com/walmik/timer.jquery/pull/61

[2016-05-13 20:42] #57 closed

[2016-05-14 04:17] walmik commented on #62
Hi @AlexAraujoBr

I think something seems funky. I was updating the Develop branch locally to match the recent merges in Master and it shows as if your PR got merged! Can you please check if your changes are in there? Also another thing is, I dont see a fork of this repo in your Github. Can you please tell me how you created the PR?

[2016-05-15 03:03] walmik commented on #60
This plugin is now available via `bower install timer.jquery`. @renat2985 Thanks again for the idea!

[2016-05-15 03:03] #60 closed

[2016-05-15 03:03] walmik commented on #52
Tests are re-enabled.

[2016-05-15 03:03] #52 closed

[2016-05-15 03:03] #53 closed

[2016-05-15 03:04] #54 closed

[2016-05-15 03:15] walmik commented on #58
Sorry for the delay in @uareke, you can get the seconds on a running (or paused) timer by doing
[code]

If you want something to be done at the end of 10 seconds, you can also use the callback attribute of the timer plugin like this,
[code]

You can even chose to stop the timer on completion of 10 seconds in the same callback.
[code]

Hope this helps. Do let me know if you'd like any more informat

[2016-05-15 03:16] #59 closed

[2016-05-15 03:17] walmik commented on #62
Fixed in https://github.com/walmik/timer.jquery/pull/63
Thanks to @AlexAraujoBr

[2016-05-15 03:17] #62 closed

[2016-05-17 06:26] leopathu opened #64 "Reverse counting"
It would be better to have reverse time counting

[2016-05-17 07:07] walmik commented on #64
Dupe of https://github.com/walmik/timer.jquery/issues/42

[2016-05-17 07:07] #64 closed

[2016-05-21 11:28] Mikhalichenko opened #65 "countdown timer"
hi how to make the countdown timer ? )

[2016-05-22 16:32] walmik commented on #65
This is a dupe of https://github.com/walmik/timer.jquery/issues/42

I ve now added the countdown details in the README as well.

[2016-05-22 16:32] #65 closed

[2016-05-31 16:41] #58 closed

[2016-06-07 12:41] jitendrapawar opened #67 "In countdown timer, pause/resume functionality not working properly."
If we set a countdown timer of 20 sec & paused it at 15 sec, it stops but on resuming it again after 5 sec, it starts from 10 sec instead of 15 sec.

[2016-06-07 16:16] walmik commented on #67
@jitendrapawar Thanks for noting this issue! I will look into it shortly.

[2016-06-08 06:33] walmik commented on #67
@jitendrapawar I ve fixed this issue in v0.5.2. Can you please confirm? You can download the updated timer plugin: https://raw.githubusercontent.com/walmik/timer.jquery/master/dist/timer.jquery.min.js

[2016-06-09 19:08] walmik commented on #15
Fixed by @kerro in v0.6.0

[2016-06-09 19:08] #15 closed

[2016-06-09 20:39] lemonbuzz opened #69 "Unexpected token import"
I am trying to use this plugin..But it throws me this error in the console:

"Uncaught SyntaxError: Unexpected token import" @ line 2 in Timer.js

I don't know whats wrong...

I don't have a very specific or different working tree...

Project/
├── action
│   ├── CommonAction.php
│   ├── DAO
│   │   ├── Connection.php
│   │   ├── dbInfo.php
│   │   └── UserDAO.php
│   └── IndexAction.php
├── index.

[2016-06-09 23:20] walmik commented on #69
Hi @lemonbuzz I think you are referencing the ES6 class directly. Please use the transpiled `timer.jquery.js` or `timer.jquery.min.js` from the `dist/` folder in this repo. Please let me know if that helps and thanks for using this plugin!

Here is a link in case you wanna take it directly from there:
https://raw.githubusercontent.com/walmik/timer.jquery/master/dist/timer.jquery.min.js

Download a

[2016-06-10 13:28] lemonbuzz commented on #69
Works!!! Thank you very much for the fast response!

Honestly when i saw the code i was a bit perplexed as I never saw classes like that in JS..only encountered the prototype based "classes"...Mind to explain this? What is the ES6 class?

[2016-06-10 16:49] walmik commented on #69
Glad it worked out :)

You are not too far when you say 'prototype based "classes". The 'class' you see in this repo is kinda the same thing. Classes are introduced in ECMAScript 6 and are syntactical sugar over JavaScript's existing prototype-based inheritance.

You can read more here: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Classes

[2016-06-10 23:58] #69 closed

[2016-06-16 15:24] huangxinliu opened #70 "你的timer.jquery插件有个问题...Your timer.jquery js have a bug..."
您好，首先我很抱歉不太会讲英语，我在项目中使用你的timer.jquery，发现有个问题，在手机下不支持"Object.assign"，我把它换成"$.extend"就好了。
HI,First I'm sorry I don't speak English,I use your timer.jquery for my project, In the mobile browser not support "Object.assign", Me replace "$.extend" it's ok.

[2016-06-16 16:10] walmik commented on #70
Thank you very much @huangxinliu !
I ve updated the plugin to use $.extend. Please do let me know if you still see this issue on mobile.

[2016-06-16 16:11] #67 closed

[2016-06-17 01:36] huangxinliu commented on #70
@walmik still have Object.assign on timer.jquery/dist/timer.jquery.js 158 line,   0.0

[2016-06-17 03:57] walmik commented on #70
@huangxinliu You are right, there was yet another `Object.assign` in the src itself. I ve removed it now. Can you please verify one last time? Thanks again for your diligence!

[2016-06-21 04:50] wenqinruan opened #71 "hey,guy. your js is not supproting ie8"

[2016-06-21 05:00] wenqinruan commented on #71
forEach is not supporting in ie8, in line 214.
line 55 also has a compatibility issue.

[2016-06-22 12:05] #70 closed

[2016-06-22 12:15] walmik commented on #71
@wenqinruan Thank you for noting this issue. I can substitute `forEach` with a `for` loop if that is the only thing required for supporting iE 8.

But you mentioned line 55 has a compatibility issue. Can you please clarify a bit more?

[2016-06-23 09:08] deferdie opened #72 "Download Link On Website Broken"
Hi,

Just thought I would let you know that the download link on your website is broken.

Well done on this reopo 👍

[2016-08-07 14:25] wgpalexander opened #73 "Pause functionality not working for all timers"
Hi guys,

Firstly - great script, I'm using it within PhoneGap to create my first basic test app and it's proving very useful.

I am creating a simple timer on one screen where we have 3 simultaneous timers:

1) Elapsed - counts up to a set interval duration (e.g. 20s first, then 10s, then 30s)
2) TotalTime - counts up, will cover multiple intervals (e.g. 1 min in this simple case)
3) Remaining -

[2016-08-07 19:09] walmik commented on #73
@wgpalexander
Hi Wayne! Firstly thank you for using the jQuery timer plugin for your project!

Secondly, I d like some more info so that I can set up a local representation of this issue you are facing. To get some context, is it like you want something to be done for say 1 minute (TotalTime) and then `Elapsed` shows the time that s passing by and `Remaining` (TotalTime - Elapsed) but with a count

[2016-08-07 20:15] wgpalexander commented on #73
Hi walmik - thanks for the prompt response.

In summary - I am looking to time a series of workout intervals, the sum of which is a total workout. I want to show the user

1) the time ELAPSED in the specific interval;
2) the TOTAL TIME that they have been working out for (e.g. could be several intervals)
3) the total REMAINING time left in the workout (could be the sum of a number of intervals aga

[2016-08-09 08:19] iBootstrap commented on #72
still broken !

[2016-08-10 05:33] walmik commented on #72
Thanks @deferdie @iBootstrap I ve fixed the download link.

[2016-08-10 05:33] #72 closed

[2016-08-10 07:09] walmik commented on #73
@wgpalexander
HI Wayne! I m sorry I couldnt look into this right away after writing to you as I got real busy at work! Anyway, could you please try something?
Please download the latest timer plugin and get hold of any jquery. Basically put these 2 files in a new folder. In the same folder create a new index.html and paste in the following contents. Once you do that, can you please use that as a p

[2016-08-10 20:09] wgpalexander commented on #73
That script seems to work - I will see if I can somehow use it to amend my existing script & come back to you.

[2016-08-10 21:12] wgpalexander commented on #73
@walmik - firstly thanks for the continued help with this! As luck would have it I had some time tonight to look at the script. Your one above seems to work.

Unfortunately I still cannot get mine to work properly (I will continue to debug using your script when I can get another chance to look at it).

I have recreated my issue however in a simple html file so I can share it with you. This has th

[2016-08-12 07:31] walmik commented on #73
Hi Wayne, I think I see the problem. The `resume` functionality is never reached in your code. You can test this by adding a console at the point where you are attempting to resume the timer(s) and check if you are actually reaching there in your code.

I also feel you may need to really revisit some of this code, especially the cascading startTimers one inside the other. One minor thing I d like

[2016-08-12 20:00] wgpalexander commented on #73
Hi walmik,

Thanks for the response again. I agree that the coding probably needs revised - I drafted it a while ago and was just looking to prove I could do a series of timers in a row one after the other. Out of interest, how would you execute the same task?

Pushing the lazy coding to one side, I added some alerts (in place of console logs) to the script and it does fire the pause/resume comman

[2016-08-12 21:00] wgpalexander commented on #73
Walmik - I've played around with the script and got it working. I've simplified the start button to simply kick the timers off and added a separate resume button. This seems to have solved the issue - although I'm unclear why - but I'm happy regardless! Thanks for your help!

[2016-08-14 03:19] walmik commented on #73
@wgpalexander
That sounds great Wayne! One take away for me personally in this exercise, is to improve the timer such that even if `start` is triggered on a paused timer, then it acts as a `resume`.  I ll look into that and any other issues related to `resume` in general by adding some tests.

I ll close this issue for now but do not hesitate to reach out again if you have face more issues. If you

[2016-08-14 19:37] #73 closed

[2016-08-30 14:08] grafikkaos opened #74 "Displaying a digital clock"
Is there a quick way of using this plugin to display a clock showing the current time?

Thanks

[2016-08-31 07:00] walmik commented on #74
@grafikkaos
Hi Emmanuel! The jQuery timer plugin does not have a readymade feature to display a digital clock, though you can get hold of the current time in seconds and initialize the timer from that time, like this:

[code]

Lemme know if that works for you.

[2016-10-12 07:14] arvi opened #75 "Automatically change to hour format display via callback"
Hello! :smile:

Thanks for your great work. I need to change the timer to `"%H:%M:%S"` format when it reached `59:59`. So far I was able to do it but not sure if this is how you'd prefer to be doing it... if yes, then it would be helpful to others if something like this is also added in the documentation examples. If no :smile:  I'd be cool if you share your way of doing it. :smile:

[code]

[2016-10-13 00:59] walmik commented on #75
Hi @arvi

This looks great, Once I get some time, I m planning to add some recipes for a bunch of things. I ll add this once I get to it.

[2016-10-13 06:30] arvi commented on #75
Noted. I've updated the sample above `duration` and `total` upon encountering a bug in the display.

[2016-10-15 19:36] akgoenka commented on #46
Hi i have done in 100ms render than exactly 1000 milliseconds format to ensure better performance and precision.. it also support formatting code "%x" which is for milliseconds in 100s..

``

[2016-11-19 15:30] keshiabrown16 opened #76 "Get %H %M %S"
Hi, great plugin :)

Is there anyway to display the time in h m s rather than just displaying total seconds elapsed when using $('#sampleid').data('seconds'); ?

[2016-11-19 15:39] shantanuthatte commented on #76
Please see the `format` option in [README](https://github.com/walmik/timer.jquery/blob/master/README.md)

For format syntax, see [Format Syntax](https://github.com/walmik/timer.jquery#format-syntax)

[2016-11-19 19:22] keshiabrown16 commented on #76
Thanks for the speedy reply but i think you have misunderstood me. I have already set format when calling the timer eg:
$(".t_header_time").timer({
      format: '%H:%M:%S'
    });

but when getting the total time elapsed, it only gives you seconds. I want the time elapsed to be h m s.

[2016-11-19 19:39] shantanuthatte commented on #76
As a quick solution, you can get the element's text.

In your case,
[code]

[2016-11-19 19:57] keshiabrown16 commented on #76
Woah. Mind was totally blank, silly me. Thank you!! Again, great plugin :)

[2016-12-05 11:50] nWidart opened #77 "Blur event resumes the timer again"
Hello,

In current behaviour, once the timer was started + paused, when leaving the input field, it resumes the timer.

Steps to reproduce on jquerytimer.com :

- click "start timer"
- wait couple of seconds
- click "pause"
- Put cursor in input
- Leave the input field

Result: timer resumes

Is there a way to not have this behaviour ? Ie: leaving the input doesn't resume the timer ?

Thanks!

Edi

[2016-12-06 17:02] walmik commented on #77
@nWidart

Thank you for observing this!

However, please note, this is not a bug/issue in the timer plugin itself. The plugin provides a convenience method for quickly wiring up the focus and blur events on the timer by setting the `editable` property as `true`. This creates these events and it's useful when you don't have any buttons to pause/resume the timer. There was some confusion around this

[2016-12-07 15:11] ottiauswien opened #78 "start time"
it would be nic, if there would be a start time (in seconds)

[2016-12-10 06:09] #76 closed

[2016-12-10 06:11] #74 closed

[2016-12-10 06:32] walmik commented on #78
@ottiauswien There s a start time available (in seconds). For example,

[code]
In this example, the timer will start from 100 seconds (displayed as 1:40 min by default). You can use the `format` parameter to customize the display. For instance if you want to display the time in absolute seconds, then initiate the timer like this,
[code]

[2016-12-13 12:15] ottiauswien commented on #78
thnx. i thouht the timer starts **in** x seconds.... not **with** x seconds.
thnx, perfect.

[2016-12-16 02:19] #78 closed

[2017-03-22 12:02] #77 closed

[2017-03-22 15:13] walmik commented on #71
I think the other compatibility issue was Date.now (IE8 does not support this). Fixed that and forEach dependency in v0.6.5

[2017-03-22 15:13] #71 closed

[2017-04-12 21:52] walmik commented on #75
Added this to http://jquerytimer.com/

[2017-04-12 21:52] #75 closed

[2017-06-09 21:57] omelsoft opened #79 "Causing an Undefined error"
The error has been fixed by adding the jQuery selector '$' as you can see below.

/*! timer.jquery 0.7.0 2017-04-15*/
(function($) {
...
rest of the code
...
} (jQuery));

[2017-09-27 03:19] NoCodeMonkey commented on #79
Would be good to get this fix rolled out.

[2017-09-27 16:41] walmik commented on #79
Done. Can you please verify @NoCodeMonkey

[2017-09-27 16:47] walmik opened #80 "karma start throws error"
Running `npm run karma` or simply `karma start`, the following error is thrown:
[code]

[2017-09-28 06:51] walmik commented on #79
Fixed in 0.7.2

[2017-09-28 06:51] #79 closed

[2018-06-13 05:48] robinwen opened #82 "clear message after time up?"
$(selector).html('') in callback() does not work, if need to clear countdown message after time up

[2018-06-15 16:59] walmik commented on #82
Hi @robinwen Can you share some more details? Here s a codepen that clears the HTML from a DIV on the page from the timer's callback on completion of 5 seconds: https://codepen.io/anon/pen/OExOQR

[2018-08-08 15:54] #82 closed

[2018-08-18 19:43] walmik opened #83 "Add links [gh-pages]"
- [ ] Add a div on the right that holds the links
- [ ] Add autotrack https://github.com/googleanalytics/autotrack
- [ ] Update GA to use autotrack

[2019-01-16 20:58] naXa777 opened #86 "Countdown timer with negative remaining time"
Try to initialize countdown with negative remaining time (i.e. `seconds` > `duration`):

[code]

Expected result: `-5 sec`
Actual result: `-1:0-5 min`

Demo: https://jsfiddle.net/naXa/gmcbfd4w (v0.7.1) and https://jsfiddle.net/naXa/gmcbfd4w/9 (v0.9.0)

It would be nice to have an endless countdown which:
1. doesn't stop when reached 0.
1. looks nice with negative time values.
1. can be initialized

[2019-01-16 21:16] naXa777 opened #87 "Publish as WebJar"
Please publish the latest library version as [WebJar](https://www.webjars.org). So it will be easily accessible from [Gradle](https://gradle.org/) or [Maven](https://maven.apache.org/) in Java projects (and in Scala, Kotlin, Groovy as well).

I think it's a good way to deploy the timer.jquery library.

Example: The Final Countdown ([Github](https://github.com/hilios/jQuery.countdown)) is available

[2019-01-20 06:55] walmik commented on #87
HI @naXa777  I m not well versed with Java but I tried doing this, I added timer.jquery as NPM and Bower WebJars yet couldnt find it when i searched for it after. Can you check if you are able to see if its added? Do I need to add something to the repo to make it visible on the WebJars site?

[2019-01-20 07:01] walmik commented on #86
Thanks for submitting this issue.

By default maybe we can have the timer stop on encountering such a situation and we can bypass it by a property that says something like `allowNegativeCountdown`. Or We could implement it and set this to be `true` by default and have users explicitly set it to false if they dont want this behavior.

Either ways, this is a good to have feature.. Feel free to imple

[2019-01-20 10:56] naXa777 commented on #87
Good news: I tried to include the library in my project and it's resolved successfully. So the library is actually deployed to Maven Central repository.
I don't know why it's not searchable via web tools.

Congratulations! =)

---

Example of Gradle build file:

[code]

Example of usage:
[code]

[2019-01-20 10:56] #87 closed

[2019-01-27 20:18] clillefield opened #88 "get seconds as ticks"
First off thank you for this script!!!  Was just what I needed for multiple timers.  Just have a request.  I would like to store seconds in localstorage as it ticks.  I can do it on pause.  But that leave room for other issues.

[2019-01-31 05:06] walmik commented on #88
Thank you for trying this script out @clillefield ! What you have suggested sounds like a new feature to me. Ideally it should be implemented with a flag to enable it while initializing a timer. I ll add the `feature` flag to this issue. If someone else doesnt pick it up, I ll give it a shot once I have some time.

[2019-02-06 00:30] clillefield commented on #88
Awesome.  Take a look at easytimer.js it has a secondsupdated function that will update a span and localstorage at the same time.  I am rather new to programming and could not figure out how to have multiple timers with that script.  Maybe just the ability to access the text the timer initialized to.  Not sure hope this helps and thanks again!

[2019-03-02 23:12] Zurd opened #89 "hidden property not working"
The documentation clearly state that there should be a hidden property:
[code]

But in the code, there's nothing about it:
[code]
Also there's a few typos in the documentation, missing a comma and replacing ; by :, so it should be:
[code]

[2019-03-03 02:23] walmik commented on #89
Hi @Zurd do you have some code snippet where it didnt work? As for code point of view, here s the LOC where hidden is implemented: https://github.com/walmik/timer.jquery/blob/master/src/Timer.js#L62

[2019-03-05 03:39] Zurd commented on #89
Hi, simply the code $("#gameTime").timer({ hidden:true }); does not work, I can still see the timer on the webpage in the div with the id gameTime.

I see that the hidden property is indeed coded in https://github.com/walmik/timer.jquery/blob/master/src/Timer.js#L62

But the src folder has 4 js files. Why not have all of them in one file? How can you include just one js file instead of 4?

Note th

[2019-03-05 13:11] walmik commented on #89
Thank you for reporting all of this, I ll take a look at it once I get some time (kinda busy this month).

@Psychosynthesis do you think you can take a look at this issue?

[2019-07-16 07:33] mohitYogi opened #90 "Timer Keeps on running if provided seconds are already greater than duration"
I faced an issue when passing seconds & duration to timer.
Suppose I passed 300 to seconds & 4 mins as duration than the timer never stops and the callback is never called.
Line number 260 in timer.jquery.js:
<pre><code>
if (timerInstance.totalSeconds > 0 &&
		timerInstance.totalSeconds % timerInstance.config.duration === 0) {
		if (timerInstance.config.callback) {
			timerInstance.config.callback

[2019-07-24 11:04] tahirafridi opened #91 "Timer Greater than 24 Hours"
I have created a tasks with timer, so if a person keep working for a task is greater than 24 hours then i have to show the 25th, 26th, ... and so on, I'm only keeping the hours for a task, I don't keep the days and hours, Can someone guide me how to achieve this, because right now if the time is 23:59;59 after 1 seconds i can see 00:00:01, it get reset again.

[2019-07-26 09:44] mohitYogi commented on #90
I have fixed the issue. I have created a pull request to merge.
Link : https://github.com/walmik/timer.jquery/pull/92

[2019-07-26 09:44] #90 closed

[2019-08-05 09:46] subhajeet2107 opened #93 "Countdown timer does'nt start again from 0"
We want to continue the timer after it reacher 0, in the 0.7.0 version it was working fine but right now it is not working also i can see this functionality was added recently but there is no documentation.
how to continue countdown timer after it reaches 0 ?

[2019-08-08 17:50] walmik commented on #93
Hi @subhajeet2107 It would defeat the purpose of a countdown if the timer started again automatically. I m assuming you want to start counting "up" after a countdown is completed. However you can do it by just removing the current timer on the element and then starting it in the callback property that the timer allows.

[code]

[Click here for a JS Bin that demonstrates this](https://jsbin.com/fuk

[2019-08-11 10:18] subhajeet2107 commented on #93
Thanks, earlier a recent pull request added this functionality by default, but it was not working in the latest version.
This will work for now, but if we could add a flag that added the asked functionality it would be great, for example set a flag countUpAfterDone:true, this will allow countdown to counting up from 0 after countdown finishes.
callback also works

[2019-08-11 10:18] #93 closed

[2019-12-03 13:16] myselfgaurav commented on #46
@akgoenka can you share code i want to use millisecond one

[2020-02-06 13:47] ck2000 opened #95 "Changing the language of the timer"
Currently the timer is showing the time in englisch e.g. 25 sec. How can I change this to another language?

[2020-02-07 19:07] walmik commented on #95
That s a very good question! However currently the plugin just shows up in English. Some fundamental changes will have to be made for this feature. It will require some localization too.

[2020-02-07 19:07] walmik commented on #95
Please feel free to add this feature.. PRs are welcome :)

[2020-02-12 10:36] shantanuthatte commented on #95
You can use the `format` option to customize. See https://github.com/walmik/timer.jquery#format-syntax.

Example:
[code]

[2020-02-12 23:25] walmik commented on #95
I had forgotten about the format syntax! Damn neat @shantanuthatte

[2020-02-13 00:49] shantanuthatte commented on #95
If you care using some i18n library you can theoretically do:

[code]

[2020-02-13 06:49] ck2000 commented on #95
Perfect - Thank you for your helpful hints!

[2020-03-30 00:21] wwh447 opened #96 "The callback function is never executed"
[code]

[2020-07-07 17:21] working-name opened #97 "[bug] callback is actually a callbefore ?"
https://jsfiddle.net/scn9ajgv/

Hopefully this project isn't dead

[2020-07-07 17:34] working-name commented on #97
Apparently it needs a  wrapper `function() { }`

[2020-07-07 17:34] #97 closed

[2020-07-09 13:58] working-name opened #98 "timer state has "running" or "paused" - and that's it"
Looking at [this line](https://github.com/walmik/timer.jquery/blob/master/src/Timer.js#L91) it seems it should also have a state for removed but its state will stay as paused if you issue `.timer('remove')`. That makes it a bit confusing and not as useful when trying to differentiate between timers that are actually paused vs done

[2020-07-10 13:56] working-name commented on #98
jsdelivr version has issues, I cloned the repo and ran build, no issues updating timer state.

[2020-07-10 13:56] #98 closed

[2021-03-05 10:20] ariefwiryanto opened #101 "how to write the script two functions"
Dear Sir/Madam,

how to write the script two functions, such as start a timer & execute a function in 5 minutes & 30 seconds and also execute a function every 2 minutes ? is it true like below :

$('#div-id').timer({
	duration: '5m30s',
	callback: function() {
		alert('Time up!');
	}
});

$('#div-id').timer({
	duration: '2m',
	callback: function() {
		console.log('Why, Hello there');	//you could h

[2021-05-12 13:03] alitheDev commented on #91
@tahirafridi bro you can stackoverflow this answer

[2021-09-20 10:57] bhavanac24 opened #102 "countdown timer shows negative time."
Hi,

I have an issue where the timer shows negative time and callback is not called when the mobile screen is locked. When screen is unlocked how to make sure that the timer stops at 0 and doesn't display negative values. Below is my config.

        var totalSeconds = 20;
        $("#t").timer({
            action: 'start',
            duration: totalSeconds,
            countdown: true,